.text1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: -20px;
}





.navbar {
    padding-left: 30px;
}
nav{
    width: 100%;
    height: 110px;
    background-color:#7cb45c;
    color: white;
}
.col-box1{
    width: 100%;
    height: 20px;
    background-color: #1c5c34;
}

.logo{
    width: 80px;
    height: 75px;
    background-color: black;
    margin-left: -10px;
    background-image: url(../images/logo.jpg);
    background-position: center;
    background-size: cover;
}

footer{
    width: 100px;
    height: 150px;
    margin-top: 50px;
    
    
}


.logo-footer{
    width: 150px;
    height: 100px;
    margin-left: -0px;
    background-color: black;
    background-image: url(../images/logo.jpg);
    background-position: center;
    background-size: cover;
}

.copyright{
    width: 20px;
    height: 20px;
    background-color: black;
    margin-left: 650px;
    border-radius: 50%;
    background-image: url(../images/copyright.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -40px;
}
.col-boxf{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 1310px;
    background-image: url(../images/facebook.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -60px;
}
.col-boxi{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 1180px;
    margin-top: -60px;
    background-image: url(../images/instagram.jpg);
    background-position: center;
    background-size: cover;
}
.col-boxp{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 1245px;
    margin-top: -60px;
    background-image: url(../images/phone.jpg);
    background-position: center;
    background-size: cover;
}


.col-boxa{
    width: 1300px;
    height: 680px;
    background-image: url(../images/black.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    color: white;
    padding-top: 40px;
}



form{
    width: 80%;
    margin: 0 auto;
    margin-left: 50px;
}


.size-options{
    
    margin-top: 30px;
    width: 300px;
    text-align: left;
    margin-left: 10px;
    
}

.bread-options{
  
    width: 300px;
    margin-left: 370px;
    margin-top: -150px;
}

.left{
    width: 400px;
    margin-left: 100px;
}

.form-control{
    border-radius: 15px;
}

.toppings2{
    
    width: 300px;
    margin-left: 360px;
    margin-top: -240px;
}

.sauce-options{
   margin-top: 20px;
}

.toppings{
    margin-top: 20px;
    margin-left: 10px;
}

.meat-options{
    margin-left: 360px;
    margin-top: -230px;
}

.btn{
    margin-left: 200px;
    margin-top: 40px;
    background-color: orange;
}

.output{
    text-align: center;
}

.button-con{
    margin-top: -100px;
    margin-right: 100px;
    margin-left: -60px;
}

.bread-options{
    margin-top: 20px;
    margin-left: 100px;
}


.topping-options{
    margin-left: 650px;
    margin-top: -200px;
    width: 200px;
}


.col-box{
    padding-left: 650px;
    padding-top: -600px;

    width: 500px;
    height: 500px;

}

.col-boxa{
    background-color: antiquewhite;
}
.topping-options2{
    width: 200px;
    padding-top: -400px;
}

.sauce-options{
    margin-top: -550px;
    margin-left: 90px;
}

.right{
    margin-left: 900px;
    margin-top: -300px;
}

.right{
    height: 130px;

    width: 200px;
    float: left;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #7cb45c;
   
}
