.text1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: -20px;
}





.navbar {
    padding-left: 30px;
}
nav{
    width: 100%;
    height: 110px;
    background-color:#7cb45c;
    color: white;
}
.col-box1{
    width: 100%;
    height: 20px;
    background-color: #1c5c34;
}

.logo{
    width: 80px;
    height: 75px;
    background-color: black;
    margin-left: -10px;
    background-image: url(../images/logo.jpg);
    background-position: center;
    background-size: cover;
}

footer{
    width: 100px;
    height: 150px;
    margin-top: 50px;
    
}

.logo-footer{
    width: 150px;
    height: 100px;
    margin-left: -0px;
    background-color: black;
    background-image: url(../images/logo.jpg);
    background-position: center;
    background-size: cover;
}

.copyright{
    width: 20px;
    height: 20px;
    background-color: black;
    margin-left: 650px;
    border-radius: 50%;
    background-image: url(../images/copyright.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -40px;
}
.col-boxf{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 1310px;
    background-image: url(../images/facebook.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -60px;
}
.col-boxi{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 1180px;
    margin-top: -60px;
    background-image: url(../images/instagram.jpg);
    background-position: center;
    background-size: cover;
}
.col-boxp{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 1245px;
    margin-top: -60px;
    background-image: url(../images/phone.jpg);
    background-position: center;
    background-size: cover;
}


.col-boxa{
    width: 750px;
    height: 980px;
    background-color: #1c5c34;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    padding-top: 40px;
}

.col-boxb{
    width: 500px;
    height: 800px;
    background-color: orange;
    float: right;
    margin-top: -900px;
    border-radius: 20px;
    margin-left: -100px;
    
}

.col-boxc{
    background-color: white;
    height: 750px;
    width: 450px;
    margin-left: 25px;
    border-radius: 20px;
    border: 50px;
    border-color: #ff4747;
}

.col-6{
    width: 100%;
}


form{
    width: 80%;
    margin: 0 auto;
}


.size-options{
    
    margin-top: 30px;
    width: 300px;
    text-align: left;
    margin-left: 10px;
    
}

.bread-options{
  
    width: 300px;
    margin-left: 370px;
    margin-top: -150px;
}

.left{
    width: 400px;
    margin-left: 100px;
}

.form-control{
    border-radius: 15px;
}

.toppings2{
    
    width: 300px;
    margin-left: 360px;
    margin-top: -240px;
}

.sauce-options{
   margin-top: 20px;
}

.toppings{
    margin-top: 20px;
    margin-left: 10px;
}

.meat-options{
    margin-left: 360px;
    margin-top: -230px;
}

.btn{
    margin-left: 200px;
    margin-top: 40px;
    background-color: orange;
}

.output{
    text-align: center;
}